@{
    Layout = "_LayoutAdmin";
    int i = 0;
}
@model FeesStructure
<div class="">
    <div class="">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bgred">
                        <h4 style="color:white;">Fees Structure</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" style="margin-top:12px;">
                            <table class="table table-bordered mb-0" id="tblbranchfees">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>#</th>
                                        <th>Program</th>
                                        <th>Branch</th>
                                        <th>Year</th>
                                        @foreach (var item1 in Model.FeesTypes)
                                        {
                                            <th>@item1.FeesTypes</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item2 in Model.Fees)
                                    {
                                        i++;
                                        <tr>
                                            <td>@i</td>
                                            <td>@item2.ProgramName</td>
                                            <td>@item2.Branch</td>
                                            <td>@item2.Year</td>
                                            <td>@item2.Amount</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>