@model EditFeesHead
<div class="">
    <div class="container">
        <div class="row py-2">
            <div class="col-12">
                <div class="card m-b-30">
                    <div class="card-header bgred">
                        <h4 style="color:black;">Edit Fees</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Select Program</label>
                                    <select id="ddlprogram" class="form-control" asp-for="@Model.data.Program" onchange="Bindbranch()" required>
                                        <option value="">-- Select Program --</option>
                                        @foreach (var item in Model.program)
                                        {
                                            <option value="@item.Id">@item.Program</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Select Branch</label>
                                    <select id="ddlbranch" class="form-control" asp-for="@Model.data.Branch" onchange="Bindfeestype()" required>
                                        <option value="">-- Select Branch --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Select Year</label>
                                    <select id="ddlyear" class="form-control" asp-for="@Model.data.Year" onchange="Bindfeestype()" required>
                                        <option value="">--Select Year--</option>
                                        <option value="1">1 Year</option>
                                        <option value="2">2 Year</option>
                                        <option value="3">3 Year</option>
                                        <option value="4">4 Year</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Select Fees Type</label>
                                    <select id="ddlfeestype" class="form-control" asp-for="@Model.data.FeesType" required>
                                        <option value="">--Select Fees Type--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Amount</label>
                                    <input type="number" placeholder="Amount" class="form-control" asp-for="@Model.data.Amount" id="amount" required>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <button type="button" style="width: 37%; margin-top: 24px;" class="btn btn-outline-primary waves-effect waves-light" onclick="btnsubmit('@Model.data.Id')">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        Bindbranch();
        Bindfeestype();
    });
    var btnsubmit = (id) => {
        let isvalid = valiadteInputs();
        if (!isvalid) {
            return false;
        }
        let data = {
            Id: id,
            Action: "Edit",
            Program: $('#ddlprogram option:selected').val(),
            Branch: $('#ddlbranch option:selected').val(),
            Year: $('#ddlyear option:selected').val(),
            FeesType: $('#ddlfeestype option:selected').val(),
            Amount: $('#amount').val()
        }
        $.post('/AccountManagement/FeesHead', data).done(function(result) {
            alertnotify(result.statuscode, result.msg);
            if (result.statuscode == 1) {
                window.location.href = '/AccountManagement/FeesHead';
            }
        }).fail(function(xhr) {
            console.log(xhr.responseText)
        });
    }
    var Bindbranch = () => {
        $.post('/Admission/BindProgramWiseBranch', { ProgramId: $('#ddlprogram option:selected').val() }).done(function(result) {
            $('#ddlbranch').empty();
            for (var i = 0; i < result.length; i++) {
                $('#ddlbranch').append('<option value="' + result[i].branchId + '">' + result[i].branchName + '</option>')
            }
            Bindfeestype();
        }).fail(function(xhr) {
            console.log(xhr.responseText)
        });
    }
    var Bindfeestype = () => {
        $.post('/AccountManagement/Bindfeestype', { Year: $('#ddlyear option:selected').val(), ProgramId: $('#ddlprogram option:selected').val(), Branch: $('#ddlbranch option:selected').val() }).done(function(result) {
            for (var i = 0; i < result.length; i++) {
                $('#ddlfeestype').append('<option value="' + result[i].id + '">' + result[i].feesTypes + '</option>')
            }
        }).fail(function(xhr) {
            console.log(xhr.responseText)
        });
    }
</script>
