@model StudentFineMdl
@{
    <div class="modal fade bs-example-modal-center show modal-large" tabindex="-1" id="myModalNew" role="dialog" aria-labelledby="mySmallModalLabel" aria-modal="true" style="display: block; padding-right: 17px;">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Student Fine</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <label>Select Branch<span style="color:red;">*</span></label>
                        <select class="form-control" id="lstbranch" asp-for="@Model.BranchId" onchange="selectyear()">
                            
                        </select>
                        <input type="hidden" class="form-control" id="hdnid" value="@Model.Id" />
                        <label>Select Year<span style="color:red;">*</span></label>
                        <select class="form-control" id="lstyear">
                            @if (@Model._Year == "1")
                        {
                                <option value="@Model._Year" selected>First Year </option>
                                <option value="2">Second Year</option>
                                <option value="3">Final Year </option>
                        }
                            @if (@Model._Year == "2")
                        {
                                <option value="1">First Year </option>
                                <option value="2" selected>Second Year</option>
                                <option value="3">Final Year </option>
                        }
                            @if (@Model._Year == "3")
                        {
                                <option value="1">First Year </option>
                                <option value="2">Second Year</option>
                                <option value="3" selected>Final Year </option>
                        }

                        </select>
                        <label>Student Name<span style="color:red;">*</span></label>
                        <input type="text" class="form-control" id="name" value="@Model.Name" />
                        <label>Enrollment Number<span style="color:red;">*</span></label>
                        <input type="text" class="form-control" id="enrol" value="@Model.Entrolment_No" />
                        <label>Fine Amount<span style="color:red;">*</span></label>
                        <input type="text" class="form-control" id="amount" value="@Model.FineAmount" />
                        <label>Fine Resion<span style="color:red;">*</span></label>
                        <input type="text" class="form-control" id="resion" value="@Model.FineResion" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" onclick="Updatedata('@Model.Id')" id="btnsave">save</button>
                    </div>
                </div>
            </div>
    </div>
}
<script>
     var Updatedata = (Fid) => {
         debugger;
        let data = {
            Id: Fid,
            BranchId: $('#lstbranch option:selected').val(),
            Year: $('#lstyear option:selected').val(),
            Name: $('#name').val(),
            Entrolment_No: $('#enrol').val(),
            FineAmount: $('#amount').val(),
            FineResion: $('#resion').val(),
            Action: "Save"
        }

        $.post('/Student/SaveStudentFine', data).done(function(result) {
            if (result.statuscode == 1) {
                alert(result.msg);
                window.location.reload();
            }
            if (result.statuscode == -1) {
                alert(result.msg);
            }
        }).fail(function() {
            alert('Server Error');
        });
    }
</script>