@model RegistrationViewModel
@{
    int i = 0;
    @foreach (var item in Model.data)
    {
        i++;
    <tr data-Id="@item.ID">
                <td>@i</td>
                <td>@item.Startdate</td>
                <td>@item.Enddate</td>
                <td>@item.ProgramName</td>
                <td>@item.BranchName</td>
                <td class="text-nowrap">@item.Entrydate</td>
                <td>
                <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="iscounseling_@item.ID" onchange="UpdateType('@item.ID')" checked="@item.IsOpen">
                        <label class="custom-control-label" for="iscounseling_@item.ID"></label>
                    </div> 
                </td>
                <td>@item.AdmissionTypeName</td>
                <td>
                    <a href="/Master/AdmissionMaster?Id=@item.ID" class="tabledit-edit-button btn btn-sm btn-success btn_edit" style="float: none; margin: 4px;"><span class="fa fa-pencil"></span></a>
                </td>
    </tr>
    }
}
