@model RegistrationViewModel
@{
    int i = 0;
    @foreach (var item in Model.data)
    {
        i++;
    <tr data-Id="@item.ID">
                <td>@i</td>
                <td>@item.Startdate</td>
                <td>@item.Enddate</td>
                <td>@item.Daylimit</td>
                <td>@item.Alllimit</td>
                <td>@item.Entrydate</td>
                <td>
                    <span class="switch switch-sm">
                        <input type="checkbox" class="switch" onchange="UpdateType('@item.ID')" id="isopen_@item.ID" @Html.Raw(item.IsOpen ? "checked='checked'" : "")>
                        <label for="isopen_@item.ID"></label>
                    </span>
                </td>
                <td>
                    <div class="d-flex">
                        <select class="form-control" id="ddlprogram" onchange="Bindbranch()" asp-for="@item.Program">
                            <option value="0">:: Select Program ::</option>
                            @foreach (var program in Model.ProgramMasters)
                        {
                                <option value="@program.Id">@program.Program</option>
                        }
                        </select>
                        <select class="form-control" id="ddlbranch" asp-for="@item.Branch">
                            <option value="0">:: Select Branch ::</option>
                        </select>
                        <select class="form-control" id="ddlyear" asp-for="@item.Year" onchange="UpdateType('@item.ID')">
                            <option value="0">:: Select Year ::</option>
                            <option value="1">First Year</option>
                            <option value="2">Seccond Year</option>
                            <option value="3">Third Year</option>
                            <option value="4">Final Year</option>
                        </select>
                    </div>
                </td>
                <td>
                    <a href="/Master/RegistartionMaster?Id=@item.ID" class="tabledit-edit-button btn btn-sm btn-success btn_edit" style="float: none; margin: 4px;"><span class="ti-pencil"></span></a>
                </td>
    </tr>
    }
}
