@model RegistrationViewModel
@{
    int i = 0;
    @foreach (var item in Model.data)
    {
        i++;
    <tr data-Id="@item.ID">
                <td>@i</td>
                <td>@item.Startdate</td>
                <td>@item.Enddate</td>
                <td>@item.ProgramName</td>
                <td>@item.BranchName</td>
                <td>@item.Entrydate</td>
                <td>
                    <span class="switch switch-sm">
                        <input type="checkbox" class="switch" onchange="UpdateType('@item.ID')" id="isopen_@item.ID" @Html.Raw(item.IsOpen ? "checked='checked'" : "")>
                        <label for="isopen_@item.ID"></label>
                    </span>
                </td>
                 <td>@item.AdmissionTypeName</td>
                <td>
                    <a href="/Master/RegistartionMaster?Id=@item.ID" class="tabledit-edit-button btn btn-sm btn-success btn_edit" style="float: none; margin: 4px;"><span class="ti-pencil"></span></a>
                </td>
    </tr>
    }
}
