@model EditStudentRegistration
@{
    Layout = "_LayoutAdmin";
}
<div class="">
    <div class="">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bgred">
                        <h4 style="color:black;">Registration</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group"><label>Name</label> <input type="text" value="@Model.data.Name" placeholder="Name" class="form-control" id="name"> </div>
                                <div class="form-group"><label>Father Name</label> <input type="text" value="@Model.data.Fname" placeholder="Father Name" class="form-control" id="fname"> </div>
                                <div class="form-group"><label>Father Occupation</label> <input type="text" value="@Model.data.FatherOccupation" placeholder="Father Occupation" class="form-control" id="txtfatheroccupation"> </div>
                                <div class="form-group">
                                    <input type="hidden" value="@Model.data.Id" id="hdnid"/>
                                    <label>Program</label> <select class="form-control" asp-for="@Model.data.Program" id="ddlProgram">
                                        <option value="">--Select Program--</option>
                                        @foreach (var item in Model.program)
                                        {
                                            <option value=@item.Id>@item.Program</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group"><label>Eamil</label> <input type="text" placeholder="Eamil" value="@Model.data.Email" class="form-control" id="email"> </div>
                                <div class="form-group"><label>Mother Name</label> <input type="text" placeholder="Mother Name" value="@Model.data.MotherName" class="form-control" id="txtmother"> </div>
                                <div class="form-group"><label>DOB</label> <input type="date" value="@Model.data.DOB" placeholder="dd-mm-yy" class="form-control" id="dob"> </div>
                                <div class="form-group">
                                    <label>Branch</label> <select class="form-control" id="ddlbranch" asp-for="@Model.data.BranchId">
                                        @foreach (var item in Model.branch)
                                        {
                                            <option value=@item.BranchId>@item.BranchName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Gender</label> <select class="form-control" id="gender" asp-for="@Model.data.Gender">
                                        <option value="">--Select Gender--</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Group</label>
                                    <select class="form-control" id="group" asp-for="@Model.data.Group">
                                        <option value="">--Select Group--</option>
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="C">C</option>
                                        <option value="K">K</option>
                                    </select>
                                </div>
                                <div class="form-group"><label>Mobile</label> <input type="text" placeholder="Mobile" value="@Model.data.Mobile" class="form-control" id="mobile"> </div>
                                <div class="form-group"><label>Address</label> <textarea class="form-control" placeholder="Address" value="@Model.data.Address" id="address">@Model.data.Address</textarea></div>
                            </div>
                            <button type="button" style="margin-left: 11px; width: 12%;" class="btn btn-outline-primary waves-effect waves-light" id="btnsubmit">Registration</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#btnsubmit').click(function() {
            var obj = {
                Id:$('#hdnid').val(),
                Name: $('#name').val(),
                Fname: $('#fname').val(),
                Email: $('#email').val(),
                Mobile: $('#mobile').val(),
                DOB: $('#dob').val(),
                Branch: $('#ddlbranch option:selected').val(),
                Gender: $('#gender option:selected').val(),
                Group: $('#group option:selected').val(),
                Address: $('#address').val(),
                FatherOccupation: $('#txtfatheroccupation').val(),
                MotherName: $('#txtmother').val(),
                Program: $('#ddlProgram option:selected').val()
            }
            preloader.load();
            $.post('/Student/_EditStudent', obj).done(function(result) {
                preloader.remove();
                alertnotify(result.statuscode,result.msg);
                setTimeout(loadlist,5000);
                var loadlist = () => {
                    window.location.href = '/Student/StudentList';
                }
            }).fail(function(xhr) {
                console.log(xhr.responseText);
            });
        });
    });
</script>