@model List<SubjectMaster>
@{
    int i = 0;
    if (Model.Count>0)
    {
        foreach (var item in Model)
        {
            i++;
    <tr data-item-id="@item.Id">
                <td>@i</td>
                    <td>@item.ProgramName</td>
                    <td>@item.Branch</td>
                    <td>@item.Year</td>
                    <td>@item.SubjectName</td>
                    <td>@item.TeacherName</td>
                    <td>@item.EntryDate</td>
                    <td>
                            <div class="btn-group btn-group-sm" style="float: none;">
                                <button class="tabledit-edit-button btn btn-sm btn-success btn_edit" data-animation="pulse" data-toggle="modal" data-target="#exampleModalLong-1" onclick="editassignsubject(BranchId=@item.Id)" style="float: none; margin: 4px;"><span class="fa fa-pencil"></span></button>
                                <button class="tabledit-delete-button btn btn-sm btn-danger" style="float: none; margin: 4px;" onclick="deleteassignsubject(BranchId=@item.Id)"><span class="ti-trash"></span></button>
                            </div>
                        </td>
    </tr>
        }
    }
    else
    {
    <tr><td class="text-danger" colspan="6">Record Not Found</td></tr>
    }
}
