@model List<JLNP_Project.Models.SubjectMaster>
<div class="row py-2 px-2">
    <div class="col-12">
        <div class="card">
            <div class="card-header bgred">
                <h4 style="color:black;">Assignment</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <label>Select Program<span style="color:red;">*</span></label>
                        <select class="form-control" id="ddlprogram" onchange="Bindbranch()" required>
                            <option value="">-- Select Program --</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <input type="hidden" id="hdnid" />
                        <label>Select Branch<span style="color:red;">*</span></label>
                        <select class="form-control" id="ddlbranch" onchange="BindSubject()" required>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label>Select Year<span style="color:red;">*</span></label>
                        <select class="form-control" id="ddlyear" onchange="BindSubject()" required>
                            <option value="">-- Select Year --</option>
                            <option value="1">First Year </option>
                            <option value="2">Second Year</option>
                            <option value="3">Third Year </option>
                            <option value="4">Final Year </option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label>Select Subject<span style="color:red;">*</span></label>
                        <select class="form-control" id="ddlsubject" required>
                            <option value="">-- Select Subject --</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label>Assignment<span style="color:red;">*</span></label>
                        <input type="text" class="form-control" id="txtassignment" required />
                    </div>
                    <div class="col-sm-3">
                        <label>Upload(Optional)</label>
                        <input type="file" class="form-control" id="fileassignment" required />
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-outline-primary" onclick="btnsubmit()" style="margin-top: 29px;width: 43%;">Save</button>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive" style="margin-top:13px;">
                        <table class="table mb-0 table-striped" id="tblbranch">
                            <thead class="bg-primary">
                                <tr>
                                    <th>#</th>
                                    <th>Program</th>
                                    <th>Branch</th>
                                    <th>Year</th>
                                    <th>Subject</th>
                                    <th>Assignment</th>
                                    <th>Assign Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    int i = 0;
                                    foreach (var item in Model)
                                    {
                                        <input type="hidden" value="@item.Id" id="hdnid">
                                        i++;
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.ProgramName</td>
                                            <td>@item.Branch</td>
                                            <td>@item.Year</td>
                                            <td>@item.SubjectName</td>
                                            <td>@item.Assignment</td>
                                            <td>@item.EntryDate</td>
                                            <td>
                                                <div class="btn-group btn-group-sm" style="float: none;">
                                                    <a href="/Admin/GetByIdAssignment?Id=@item.Id" class="tabledit-edit-button btn btn-sm btn-success btn_edit" onclick="editassignment(BranchId=@item.Id)" style="float: none; margin: 4px;"><span class="fa fa-pencil"></span></a>
                                                    <button class="tabledit-delete-button btn btn-sm btn-danger" style="float: none; margin: 4px;" onclick="Deleteassignment(BranchId=@item.Id)"><span class="ti-trash"></span></button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        Bindbranch();
        Bindprogramlst();
    });
    var Bindbranch = () => {
        $.post('/Admission/BindProgramWiseBranch', { ProgramId: $('#ddlprogram option:selected').val() }).done(function(result) {
            $('#ddlbranch').empty();
            for (var i = 0; i < result.length; i++) {
                $('#ddlbranch').append('<option value="' + result[i].branchId + '">' + result[i].branchName + '</option>')
            }
        }).fail(function(xhr) {
            console.log(xhr.responseText)
        });
    }
    var BindSubject = () => {
        $.post('/Admin/Bind_Subject', { Program: $('#ddlprogram option:selected').val(), BranchId: $('#ddlbranch option:selected').val(), Year: $('#ddlyear option:selected').val() }).done(function(res) {
            $('#ddlsubject').empty();
            for (var i = 0; i < res.length; i++) {
                $('#ddlsubject').append('<option value="' + res[i].subjectId + '">' + res[i].subjectName + '</option>')
            }
        }).fail(function() {
            console.log('Server Error!');
        });
    }
    var btnsubmit = () => {
        let isvalid = valiadteInputs();
        if (!isvalid) {
            return false;
        }
        data = new FormData();
        data.append("Id", $('#hdnid').val());
        data.append("Program", $('#ddlprogram option:selected').val());
        data.append("BranchId", $('#ddlbranch option:selected').val());
        data.append("BranchYear", $('#ddlyear option:selected').val());
        data.append("SubjectId", $('#ddlsubject option:selected').val());
        data.append("Assignment", $('#txtassignment').val());
        data.append("Action", 'Add');
        data.append("Files", $('#fileassignment').prop('files')[0]);
        preloader.load();
        $.ajax({
            type: "POST",
            url: '/Admin/SaveAssignment',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            success: function(result) {
                preloader.remove();
                alertnotify(result.statuscode, result.msg);
            },
            error: function() {
                console.log(xhr.responseText);
                alert("Server Error");
            }
        });
    }
    var Deleteassignment = (AsId) => {
        $.post('/Admin/DeleteAssignment', { Id: AsId }).done(function(result) {
            alertnotify(result.statuscode, result.msg);
        }).fail(function(xhr) {
            console.log(xhr.responseText);
            alert("Server Error");
        });
    }
    var Bindprogramlst = () => {
        $.post('/BindProgram').done(function(result) {
            for (var i = 0; i < result.length; i++) {
                $('#ddlprogram').append('<option value="' + result[i].id + '">' + result[i].program + '</option>');
            }
        }).fail(function(xhr) {
            alert("Server Error");
        });
    }
</script>