@model List<JLNP_Project.Models.SubjectMaster>
@{
    Layout = "_LayoutAdmin";
}
<div class="">
    <div class="">
        <!-- Page-Title -->
        @*<div class="row">
        <div class="col-sm-12">
        <div class="">
        <div class="row" style="justify-content: space-between;">
        <div class="col-sm-5"><h3>Assignment</h3></div>
        </div>
        </div>
        </div>
        </div>*@
        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h4 style="color:white;">Assignment</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <input type="hidden" id="hdnid" />
                                <label>Select Branch<span style="color:red;">*</span></label>
                                <select class="form-control" id="ddlbranch" onchange="BindSubject()">
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label>Select Year<span style="color:red;">*</span></label>
                                <select class="form-control" id="ddlyear" onchange="BindSubject()">
                                    <option value="">-- Select Year --</option>
                                    <option value="1">First Year </option>
                                    <option value="2">Second Year</option>
                                    <option value="3">Final Year </option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label>Select Subject<span style="color:red;">*</span></label>
                                <select class="form-control" id="ddlsubject">
                                    <option value="">-- Select Subject --</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Assignment<span style="color:red;">*</span></label>
                                <input type="text" class="form-control" id="txtassignment" />
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-outline-primary" onclick="btnsubmit()" style="margin-top: 29px;width: 43%;">Save</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="table-responsive table-bordered" style="margin-top:13px;">
                                <table class="table mb-0" id="tblbranch">
                                    <thead class="bg-primary">
                                        <tr>
                                            <th>#</th>
                                            <th>Branch</th>
                                            <th>Year</th>
                                            <th>Subject</th>
                                            <th>Assignment</th>
                                            <th>Assign Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            int i = 0;
                                            foreach (var item in Model)
                                            {
                                                <input type="hidden" value="@item.Id" id="hdnid">
                                                i++;
                                                <tr>
                                                    <td>@i</td>
                                                    <td>@item.Branch</td>
                                                    <td>@item.Year</td>
                                                    <td>@item.SubjectName</td>
                                                    <td>@item.Assignment</td>
                                                    <td>@item.EntryDate</td>
                                                    <td>
                                                        <div class="btn-group btn-group-sm" style="float: none;">
                                                            <a href="/Admin/GetByIdAssignment?Id=@item.Id" class="tabledit-edit-button btn btn-sm btn-success btn_edit"  onclick="editassignment(BranchId=@item.Id)" style="float: none; margin: 4px;"><span class="ti-pencil"></span></a>
                                                            <button class="tabledit-delete-button btn btn-sm btn-danger" style="float: none; margin: 4px;" onclick="Deleteassignment(BranchId=@item.Id)"><span class="ti-trash"></span></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        Bindbranch();
    });
    var Bindbranch = () => {
        $.post('/Admission/BindBranch').done(function(result) {
            $('#ddlbranch').empty().append('<option value="">--Select Branch--</option>');
            for (var i = 0; i < result.length; i++) {
                $('#ddlbranch').append('<option value="' + result[i].branchId + '">' + result[i].branchName + '</option>')
            }
        }).fail(function(xhr) {
            console.log(xhr.responseText)
        });
    }
    var BindSubject = () => {
        let obj = {
            BranchId: $('#ddlbranch option:selected').val(),
            Year: $('#ddlyear option:selected').val(),
        }
        $.post('/Admin/Bind_Subject', obj).done(function(result) {
            console.log(result);
            for (var i = 0; i < result.length; i++) {
                $('#ddlsubject').append('<option value="' + result[i].subjectId + '">' + result[i].subjectName + '</option>');
            }
        }).fail(function(xhr) {
            alert("Server Error");
        });
    }

    var btnsubmit = () => {
        let obj = {
            Id:$('#hdnid').val(),
            BranchId: $('#ddlbranch option:selected').val(),
            BranchYear: $('#ddlyear option:selected').val(),
            SubjectId: $('#ddlsubject option:selected').val(),
            Assignment: $('#txtassignment').val(),
            Action: 'Add'
        }
        $.post('/Admin/SaveAssignment', obj).done(function(result) {
            if (result.statusCode = 1) {
                alert(result.msg);
                window.location.reload();
            }
            else {
                alert(result.msg);
            }
        }).fail(function(xhr) {
            console.log(xhr.responseText);
            alert("Server Error");
        });
    }
    //var editassignment = (AsId) => {
    //    let obj = {
    //        Id:AsId,
    //        Action: 'Get'
    //    }
    //    $.get('/Admin/GetByIdAssignment', obj).done(function() {
    //       // console.log(result.assignment);
    //       // $('#hdnid').val(result.id);
    //       // $('#txtassignment').val(result.assignment);
    //       //$('#ddlbranch').append('<option value="' + result.branchId + '" selected>' + result.branch + '</option>');
    //       //$('#ddlsubject').append('<option value="' + result.subjectId + '" selected>' + result.subjectName + '</option>');
    //       //$('#ddlyear').append('<option value="' + result.year + '" selected>' + result._Year + '</option>');
    //    }).fail(function(xhr) {
    //        console.log(xhr.responseText);
    //        alert("Server Error");
    //    });
    //}
    var Deleteassignment = (AsId) => {
        $.post('/Admin/DeleteAssignment', {Id:AsId}).done(function(result) {
            alert(result.msg);
           window.location.reload();
        }).fail(function(xhr) {
            console.log(xhr.responseText);
            alert("Server Error");
        });
    }
</script>