@model JLNP_Project.Models.SubjectMaster
@{
   
}
<div class="">
    <div class="">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bgred">
                        <h4 style="color:black;">Assignment</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Select Program<span style="color:red;">*</span></label>
                                <select class="form-control" id="ddlprogram" asp-for="@Model.Program" onchange="Bindbranch()">
                                  <option value="">-- Select Program --</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <input type="hidden" id="hdnid" value="@Model.Id"/>
                                <label>Select Branch<span style="color:red;">*</span></label>
                                <select class="form-control" id="ddlbranch" onchange="BindSubject()">
                                    @if(Model.BranchId != 0){
                                        <option value="@Model.BranchId">@Model.Branch</option>
                                    }
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label>Select Year<span style="color:red;">*</span></label>
                                <select class="form-control" id="ddlyear" asp-for="@Model.Year" onchange="BindSubject()">
                                    <option value="0">--Select Year-- </option>
                                    <option value="1">First Year </option>
                                    <option value="2">Second Year </option>
                                    <option value="3">Third Year </option>
                                    <option value="4">Final Year </option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label>Select Subject<span style="color:red;">*</span></label>
                                <select class="form-control" id="ddlsubject">
                                    @if(Model.SubjectId>0){
                                        <option value="@Model.SubjectId">@Model.SubjectName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Assignment<span style="color:red;">*</span></label>
                                <input type="text" class="form-control" id="txtassignment" value="@Model.Assignment"/>
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-outline-primary" onclick="btnsave()" style="margin-top: 29px;width: 43%;">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        Bindprogramlst();
        Bindbranch();
    });
    var Bindbranch = () => {
        $.post('/Admission/BindProgramWiseBranch', { ProgramId: $('#ddlprogram option:selected').val() }).done(function(result) {
            $('#ddlbranch').empty();
            for (var i = 0; i < result.length; i++) {
                $('#ddlbranch').append('<option value="' + result[i].branchId + '">' + result[i].branchName + '</option>')
            }
        }).fail(function(xhr) {
            console.log(xhr.responseText)
        });
    }
    var BindSubject = () => {
        let obj = {
            BranchId: $('#ddlbranch option:selected').val(),
            Year: $('#ddlyear option:selected').val(),
        }
        $.post('/Admin/Bind_Subject', obj).done(function(result) {
            console.log(result);
            for (var i = 0; i < result.length; i++) {
                $('#ddlsubject').append('<option value="' + result[i].subjectId + '">' + result[i].subjectName + '</option>');
            }
        }).fail(function(xhr) {
            alert("Server Error");
        });
    }
    var btnsave = () => {
        let obj = {
            Id:$('#hdnid').val(),
            Program: $('#ddlprogram option:selected').val(),
            BranchId: $('#ddlbranch option:selected').val(),
            BranchYear: $('#ddlyear option:selected').val(),
            SubjectId: $('#ddlsubject option:selected').val(),
            Assignment: $('#txtassignment').val(),
            Action: 'Add'
        }
        $.post('/Admin/SaveAssignment', obj).done(function(result) {
            alertnotify(result.statuscode,result.msg);
            window.location.href = '/Admin/Assignment';
        }).fail(function(xhr) {
            console.log(xhr.responseText);
            alert("Server Error");
        });
    }
    var Bindprogramlst = () => {
        $.post('/BindProgram').done(function(result) {
            for (var i = 0; i < result.length; i++) {
                $('#ddlprogram').append('<option value="' + result[i].id + '">' + result[i].program + '</option>');
            }
        }).fail(function(xhr) {
            alert("Server Error");
        });
    }
</script>