@model JLNP_Project.Models.SubjectMaster
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor accessor
@{
    var userdata = JsonConvert.DeserializeObject<LoginInfo>(accessor.HttpContext.Session.GetString("Userdata"));
}
@{
    Layout = "_LayoutAdmin";
}
<link href="~/login/assets/libs/c3/c3.min.css" rel="stylesheet" type="text/css" />
<!-- App css -->
<link href="~/login/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet" />
<link href="~/login/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="~/login/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet" />
<div class="">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box bgred">
                    <div class="float-right hide-phone">
                    </div>
                    <h4 class="page-title">Wellcome  @userdata.UserName</h4>
                </div>
            </div>
        </div>
        <div class="row">

            <!-- end col -->
            <div class="col-xl-3 col-sm-6 col-md-3">
                <div class="card-box widget-box-two widget-two-custom" style="background-color:#ffffff">
                    <div class="media">
                        <div class="avatar-lg rounded-circle bg-primary widget-two-icon align-self-center">
                            <i class="mdi mdi-account-multiple avatar-title font-30 text-white"></i>
                        </div>
                        <div class="wigdet-two-content media-body">
                            <p class="m-0 text-uppercase font-weight-medium text-truncate" style="color:darkgray" title="Statistics">Teachers</p>
                            <h3 class="font-weight-medium my-2">
                                @Model.TeacherCount
                            </h3>
                            <p><a href="/" style="color:#007bff">ViewAllTeacher</a></p>

                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-xl-3 col-sm-6 col-md-3">
                <div class="card-box widget-box-two widget-two-custom" style="background-color:#ffffff">
                    <div class="media">
                        <div class="avatar-lg rounded-circle bg-primary widget-two-icon align-self-center">
                            <i class="mdi mdi-crown avatar-title font-30 text-white"></i>
                        </div>
                        <div class="wigdet-two-content media-body">
                            <p class="m-0 text-uppercase font-weight-medium text-truncate" style="color:darkgray" title="Statistics">Registration</p>
                            <h3 class="font-weight-medium my-2">
                                @Model.RegistrationCount
                            </h3>
                            <p><a href="/" style="color:#007bff">ViewAllRegistration</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-xl-3 col-sm-6 col-md-3">
                <div class="card-box widget-box-two widget-two-custom" style="background-color:#ffffff">
                    <div class="media">
                        <div class="avatar-lg rounded-circle bg-primary widget-two-icon align-self-center">
                            <i class="mdi mdi-auto-fix  avatar-title font-30 text-white"></i>
                        </div>
                        <div class="wigdet-two-content media-body">
                            <p class="m-0 text-uppercase font-weight-medium text-truncate" style="color:darkgray" title="Statistics">Branch</p>
                            <h3 class="font-weight-medium my-2">
                                @Model.BranchCount
                            </h3>
                            <p><a href="/" style="color:#007bff">ViewAllBranch</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-md-3">
                <div class="card-box widget-box-two widget-two-custom" style="background-color:#ffffff">
                    <div class="media">
                        <div class="avatar-lg rounded-circle bg-primary widget-two-icon align-self-center">
                            <i class="mdi mdi-auto-fix  avatar-title font-30 text-white"></i>
                        </div>
                        <div class="wigdet-two-content media-body">
                            <p class="m-0 text-uppercase font-weight-medium text-truncate" style="color:darkgray" title="Statistics">Admission</p>
                            <h3 class="font-weight-medium my-2">
                                @Model.AdmissionCount
                            </h3>
                            <p><a href="/" style="color:#007bff">ViewAllAdmissions</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/js/jquery.min.js"></script>
<script>
    //$(document).ready(function(){
    //    $.post('/Admin/TeacherCount').done(function(result) {
    //        $('#Teachers').text(result);
    //    }).fail(function(xhr) {
    //        console.log(xhr.responseText)
    //    });
    //    RegistrationCount();
    //    BranchCount();
    //    StudentCount();
    //});
    //var RegistrationCount = () => {
    //    $.post('/Admin/RegistrationCount').done(function(result) {
    //        $('#Registration').text(result);
    //    }).fail(function(xhr) {
    //        console.log(xhr.responseText)
    //    });
    //}
    //var BranchCount = () => {
    //    $.post('/Admin/BranchCount').done(function(result) {
    //        $('#Branch').text(result);
    //    }).fail(function(xhr) {
    //        console.log(xhr.responseText)
    //    });
    //}
    //var StudentCount = () => {
    //    $.post('/Admin/StudentCount').done(function(result) {
    //        $('#Student').text(result);
    //    }).fail(function(xhr) {
    //        console.log(xhr.responseText)
    //    });
    //}
</script>