@model List<StudentFineMdl>
@{
    Layout = "_LayoutAdmin";
}
<div class="">
    <div class="">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h4 style="color:white;">Student Fine</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Select Branch<span style="color:red;">*</span></label>
                                <select class="form-control" id="ddlbranch" onchange="selectyear()">
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label>Select Year<span style="color:red;">*</span></label>
                                <select class="form-control" id="ddlyear">
                                    <option value="">-- Select Year --</option>
                                    <option value="1">First Year </option>
                                    <option value="2">Second Year</option>
                                    <option value="3">Final Year </option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label>Student Name<span style="color:red;">*</span></label>
                                <input type="text" class="form-control" id="txtname" />
                            </div>
                            <div class="col-sm-3">
                                <label>Enrollment Number<span style="color:red;">*</span></label>
                                <input type="text" class="form-control" id="txtenrol" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Fine Amount<span style="color:red;">*</span></label>
                                <input type="text" class="form-control" id="txtamount" />
                            </div>
                            <div class="col-sm-4">
                                <label>Fine Resion<span style="color:red;">*</span></label>
                                <input type="text" class="form-control" id="txtresion" />
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-outline-primary" id="btnsubmit" style="margin-top: 29px;width: 43%;" onclick="submitdata()">Save</button>
                            </div>
                            <input type="hidden" id="hdnid" value="@Model."
                        </div>
                        <div class="table-responsive table-bordered" style="margin-top:13px;">
                            <table class="table mb-0" id="tblbranch">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>#</th>
                                        <th>Branch</th>
                                        <th>Year</th>
                                        <th>Student Name</th>
                                        <th>Entrollment Number</th>
                                        <th>Fine Amount</th>
                                        <th>Fine Resion</th>
                                        <th>Assign Date</th>
                                        <th>Fine Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        int i = 0;
                                        @foreach (var item in Model)
                                        {
                                            i++;
                                            <tr>
                                                <input type="hidden" id="hdnid" value="@item.Id">
                                                <td>@i</td>
                                                <td>@item.Branch</td>
                                                <td>@item._Year</td>
                                                <td>@item.Name</td>
                                                <td>@item.Entrolment_No</td>
                                                <td>@item.FineAmount</td>
                                                <td>@item.FineResion</td>
                                                <td>@item.EntryDate</td>
                                                <td>
                                                    @if (item.FineStatus == -1)
                                                    {
                                                        <select class="form-control" id="ddlstatus" onchange="UpdateStatus('@item.Id')">
                                                            <option>--Select Status--</option>
                                                            <option value="1">Paid</option>
                                                            <option value="-1">UnPaid</option>
                                                        </select>
                                                    }
                                                    else{
                                                        <span class="text-success">Paid</span>
                                                    }
                                                </td>
                                                <td>
                                                    <button onclick="EditRecord('@item.Id')" class="tabledit-edit-button btn btn-sm btn-success btn_edit" data-animation="pulse" data-toggle="modal" data-target="#exampleModalLong-1" style="float: none; margin: 4px;"><span class="ti-pencil"></span></button>
                                                    <button onclick="deletedata('@item.Id')" class="tabledit-delete-button btn btn-sm btn-danger" style="float: none; margin: 4px;"><span class="ti-trash"></span></button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td class="text-danger text-center" colspan="9">Record NoT Found</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        Bindbranch();
    });
    var Bindbranch = () => {
        $.post('/Admission/BindBranch').done(function(result) {
            console.log(result);
            $('#ddlbranch').empty().append('<option value="">--Select Branch--</option>');
            for (var i = 0; i < result.length; i++) {
                $('#ddlbranch').append('<option value="' + result[i].branchId + '">' + result[i].branchName + '</option>')
            }
        }).fail(function(xhr) {
            console.log(xhr.responseText)
        });
    }

    var submitdata = () => {
        let data = {
            Id: $('#hdnid').val(),
            BranchId: $('#ddlbranch option:selected').val(),
            Year: $('#ddlyear option:selected').val(),
            Name: $('#txtname').val(),
            Entrolment_No: $('#txtenrol').val(),
            FineAmount: $('#txtamount').val(),
            FineResion: $('#txtresion').val(),
            Action: "Save"
        }
        console.log(data);
        $.post('/Student/SaveStudentFine', data).done(function(result) {
            if (result.statuscode == 1) {
                alert(result.msg);
                window.location.reload();
            }
            if (result.statuscode == -1) {
                alert(result.msg);
            }
        }).fail(function() {
            alert('Server Error');
        });
    }
    var EditRecord = (RecordId) => {
        $.post('/Student/GetStudentFineById', { Id: RecordId }).done(function(result) {
            $('body').append(result);
            Bindbranchlist();
            $('#myModalNew').modal('show');
            $('[data-dismiss="modal"]').unbind().click(function() {
                $('.modal,.modal-backdrop').remove();
            })
        }).fail(function(xhr) {
            Console.log(xhr.responseText);
            alert('Server Error');
        });
    }
    var deletedata = (Fid) => {
        $.post('/Student/DeleteStudentFine', { FineId: Fid }).done(function(result) {
            if (result.statuscode == 1) {
                alert(result.msg);
                window.location.reload();
            }
            if (result.statuscode == -1) {
                alert(result.msg);
            }
        }).fail(function() {
            alert('Server Error');
        });
    }
    var UpdateStatus = (FineId) => {
        let data = $('#ddlstatus option:selected').val()
        $.post('/Student/UpdateFineStatus', { Status: data, FineId: FineId }).done(function(result) {
            if (result.statuscode == 1) {
                alert(result.msg);
                window.location.reload();
            }
            if (result.statuscode == -1) {
                alert(result.msg);
            }
        }).fail(function() {
            alert('Server Error');
        });
    }
    var Bindbranchlist = () => {
        $.post('/Admission/BindBranch').done(function(result) {
            console.log(result);
            for (var i = 0; i < result.length; i++) {
                $('#lstbranch').append('<option value="' + result[i].branchId + '">' + result[i].branchName + '</option>')
            }
        }).fail(function(xhr) {
            console.log(xhr.responseText)
        });
    }
</script>