@model List<StudentFineMdl>
@{
   
}
<div class="">
    <div class="">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bgred">
                        <h4 style="color:black;">Student Fine</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Enrollment Number<span style="color:red;">*</span></label>
                                <input type="text" class="form-control" id="txtenrol" />
                            </div>
                            <div class="col-sm-4">
                                <label>Fine Amount<span style="color:red;">*</span></label>
                                <input type="number" class="form-control" id="txtamount" />
                            </div>
                            <div class="col-sm-4">
                                <label>Fine Resion<span style="color:red;">*</span></label>
                                <input type="text" class="form-control" id="txtresion" />
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-outline-primary" id="btnsubmit" style="margin-top: 29px;width: 43%;" onclick="submitdata()">Save</button>
                            </div>
                        </div>
                        <div class="table-responsive" style="margin-top:13px;">
                            <table class="table mb-0 table-striped" id="tblbranch">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>#</th>
                                        <th>Entrollment Number</th>
                                        <th>Fine Amount</th>
                                        <th>Fine Resion</th>
                                        <th>Assign Date</th>
                                        <th>Fine Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        int i = 0;
                                        @foreach (var item in Model)
                                        {
                                            i++;
                                            <tr>
                                                <input type="hidden" id="hdnid" value="@item.Id">
                                                <td>@i</td>
                                                <td>@item.RegistrationNo</td>
                                                <td>@item.FineAmount</td>
                                                <td>@item.FineResion</td>
                                                <td>@item.EntryDate</td>
                                                <td>
                                                    @if (item.FineStatus == -1)
                                                    {
                                                        <select class="form-control" id="ddlstatus" onchange="UpdateStatus('@item.Id')">
                                                            <option>--Select Status--</option>
                                                            <option value="1">Paid</option>
                                                            <option value="-1">UnPaid</option>
                                                        </select>
                                                    }
                                                    else{
                                                        <span class="text-success">Paid</span>
                                                    }
                                                </td>
                                                <td>
                                                    <button onclick="EditRecord('@item.Id')" class="tabledit-edit-button btn btn-sm btn-success btn_edit" data-animation="pulse" data-toggle="modal" data-target="#exampleModalLong-1" style="float: none; margin: 4px;"><span class="ti-pencil"></span></button>
                                                    <button onclick="deletedata('@item.Id')" class="tabledit-delete-button btn btn-sm btn-danger" style="float: none; margin: 4px;"><span class="ti-trash"></span></button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td class="text-danger text-center" colspan="9">Record NoT Found</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        
    });
    var submitdata = () => {
        let data = {
            Id: $('#hdnid').val(),
            Entrolment_No: $('#txtenrol').val(),
            FineAmount: $('#txtamount').val(),
            FineResion: $('#txtresion').val(),
            Action: "Save"
        }
        preloader.load();
        $.post('/Student/SaveStudentFine', data).done(function(result) {
            preloader.remove();
            alertnotify(result.statuscode,result.msg);
        }).fail(function() {
            alert('Server Error');
        });
    }
    var EditRecord = (RecordId) => {
        preloader.load();
        $.post('/Student/GetStudentFineById', { Id: RecordId }).done(function(result) {
            preloader.remove();
            $('body').append(result);
            $('#myModalNew').modal('show');
            $('[data-dismiss="modal"]').unbind().click(function() {
                $('.modal,.modal-backdrop').remove();
            })
        }).fail(function(xhr) {
            Console.log(xhr.responseText);
            alert('Server Error');
        });
    }
    var deletedata = (Fid) => {
        preloader.load();
        $.post('/Student/DeleteStudentFine', { FineId: Fid }).done(function(result) {
            preloader.remove();
             alertnotify(result.statuscode,result.msg);
        }).fail(function() {
            alert('Server Error');
        });
    }
    var UpdateStatus = (FineId) => {
        let data = $('#ddlstatus option:selected').val()
        preloader.load();
        $.post('/Student/UpdateFineStatus', { Status: data, FineId: FineId }).done(function(result) {
            preloader.remove();
            alertnotify(result.statuscode,result.msg);
        }).fail(function() {
            alert('Server Error');
        });
    }
</script>