@model List<AdmissionModel>
@{
    int i = 0;
    if (Model.Count > 0)
    {
        foreach (var item in Model)
        {
            i++;
            <tr data-item-Id="@item.Id">
                <td>@i</td>
                <td>
                     <input type="radio" name="Attandstatus" oninput="updatestatus('@item.Id')" value="Pstatus" id="Pstatus" />
                     <lable title="Prasent">Prasent</lable>
                     <input type="radio" name="Attandstatus" oninput="updatestatus('@item.Id')" value="Astatus" id="Astatus" />
                     <lable title="Absent">Absent</lable>
                </td>
                <td>@item.Name</td>
                <td>@item.Fname</td>
                <td>@item.EntrolmentNo</td>
                <td>@item.Year</td>
                <td>@item.Branch</td>
                <td>@item.Gender</td>
                <td>@item.Group</td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="9" style="color:forestgreen;" class="text-center">Attandance Already Marked</td>
        </tr>
    }
}
<script src="~/js/jquery.min.js"></script>
<script>

</script>