@model AddExam
<div class="modal fade bs-example-modal-center show" tabindex="-1" id="myModalNew" role="dialog" aria-labelledby="mySmallModalLabel" aria-modal="true" style="display: block; padding-right: 17px;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Exam</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <label>Exam<span style="color:red;">*</span></label>
                <input type="text" class="form-control" id="txtexam" asp-for="@Model.Exam"/>
                <input type="hidden" class="form-control" id="hdnid" asp-for="@Model.Id"  />
                <label>Exam Group<span style="color:red;">*</span></label>
                <select id="ddlgroup" class="form-control" asp-for="@Model.GroupID">
                    <option value="0">:: Select Group ::</option>
                    @foreach (var item in Model.ExamGroup)
                    {
                        <option value="@item.Id">@item.ExamGroupes</option>
                    }
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" onclick="SaveExam()" id="btnsave">Save</button>
            </div>
        </div>
    </div>
</div>
<script>
    var SaveExam = () =>{
        let obj = {
            Id:$('#hdnid').val(),
            GroupId:$('#ddlgroup').val(),
            ExamTitle:$('#txtexam').val(),
        }
        if(obj.ExamTitle == ''){
            alert('Please enter Exam');
            return false;
        }
        if(obj.GroupId == '0'){
            alert('Please select ExamGroup');
            return false;
        }
        $.post('/Examination/SaveExam', obj).done(function(result) {
            alertnotify(result.statuscode,result.msg);
        }).fail(function(xhr) {
            console(xhr.responseText);
        });
    }
</script>