@model List<ExamType>
<div class="row py-2 px-2">
    <div class="col-12">
        <div class="card">
            <div class="card-header bgred">
                <div class="row">
                    <div class="col-sm-3">
                        <h4 style="color:black;">Exam Type</h4>
                    </div><div class="col-sm-9">
                        <button class="btn btn-outline-primary" id="Addnew" data-animation="pulse" data-toggle="modal" data-target="#exampleModalLong-1" onclick="AddNew(0)" style="float: right;">
                            + Add New
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive table-striped" style="margin-top:13px;">
                    <table class="table mb-0" id="tblbatch">
                        <thead class="bg-primary">
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Entry Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 0;
                                foreach (var item in Model)
                                {
                                    i++;
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.ExamTypes</td>
                                        <td>@item.Entrydate</td>
                                        <td>
                                            <div class="btn-group btn-group-sm" style="float: none;">
                                                <button class="tabledit-edit-button btn btn-sm btn-success btn_edit" data-animation="pulse" data-toggle="modal" data-target="#exampleModalLong-1" onclick="AddNew('@item.Id')" style="float: none; margin: 4px;"><span class="fa fa-pencil"></span></button>
                                                <button class="tabledit-delete-button btn btn-sm btn-danger" style="float: none; margin: 4px;" onclick="DeleteExamtype('@item.Id')"><span class="fa fa-trash"></span></button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var AddNew = (id) => {
        $.post('/Examination/AddExamType', { Id: id }).done(function(result) {
            showModel(result);
        }).fail(function(xhr) {
            console(xhr.responseText);
        });
    }
    var DeleteExamtype = (id) => {
        $.post('/Examination/DeleteExamType', { ID: id }).done(function(result) {
            alertnotify(result.statuscode, result.msg);
        }).fail(function(xhr) {
            console(xhr.responseText);
        });
    }
</script>