@model RegistrationViewModel
<div class="">
    <div class="">
        <div class="row px-2 py-2">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bgred">
                        <h4 style="color:black;">Admission Master</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <input type="hidden" asp-for="@Model.data.FirstOrDefault().ID" id="hdnid"/>
                                <label>Start Date<span style="color:red;">*</span></label>
                                <input type="date" class="form-control" id="txtRegistrationStart" asp-for="@Model.data.FirstOrDefault().Startdate" placeholder="Start Date" />
                                <span class="text-danger d-none" id="txtRegistrationStartsp">Please Enter Start Date</span>
                            </div>
                            <div class="col-sm-2">
                                <label>End Date<span style="color:red;">*</span></label>
                                <input type="date" class="form-control" id="txtRegistrationEnd" asp-for="@Model.data.FirstOrDefault().Enddate" placeholder="End Date" />
                                <span class="text-danger d-none" id="txtRegistrationEndsp">Please Enter End Date</span>
                            </div>
                            <div class="col-sm-2">
                                <label>Program<span style="color:red;">*</span></label>
                                <select class="form-control" id="ddlProgram">
                                    <option value="0">:: Select Program ::</option>
                                    @foreach (var item in Model.ProgramMasters)
                                    {
                                        <option value="@item.Id">@item.Program</option>
                                    }
                                </select>
                                <span class="text-danger d-none" id="txtdaylimitsp">Please select program</span>
                            </div>
                            <div class="col-sm-2">
                                <label>Branch<span style="color:red;">*</span></label>
                                <select class="form-control" id="ddBranch">
                                    <option value="0">:: Select Branch ::</option>
                                </select>
                                <span class="text-danger d-none" id="txtalllimitsp">Please select branch</span>
                            </div>
                            <div class="col-sm-2">
                                <label>Admission Type<span style="color:red;">*</span></label>
                                <select class="form-control" id="ddlAdmtype">

                                </select>
                                <span class="text-danger d-none" id="txtadmissiontype">Please select AdmissionType</span>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-outline-primary mt-4" id="btnsubmit" onclick="Savedata()">Save</button>
                            </div>
                        </div>
                        <div class="table-responsive table-striped" style="margin-top:13px;">
                            <table class="table mb-0" id="tblgrid">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>#</th>
                                        <th class="text-nowrap">Start Date</th>
                                        <th class="text-nowrap">End Date</th>
                                        <th>Program</th>
                                        <th>Branch</th>
                                        <th class="text-nowrap">Entry Date</th>
                                        <th>IsOpen</th>
                                        <th class="text-nowrap">Admission Type</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        loaddata();
        Bindbranch();
        bindAdmissionType();
    });
    var Savedata = () => {
        let obj = {
            ID: $('#hdnid').val(),
            Startdate: $('#txtRegistrationStart').val(),
            Enddate: $('#txtRegistrationEnd').val(),
            Daylimit: $('#txtdaylimit').val(),
            Alllimit: $('#txtalllimit').val(),
            IsAdmission:true
        }
        if (obj.Startdate == '' || obj.Startdate == undefined) {
            $('#txtRegistrationStartsp').removeClass('d-none');
            return false;
        }
        if (obj.Enddate == '' || obj.Enddate == undefined) {
            $('#txtRegistrationEndsp').removeClass('d-none');
            return false;
        }
        if (obj.Daylimit == '' || obj.Daylimit == undefined) {
            $('#txtdaylimitsp').removeClass('d-none');
            return false;
        }
        if (obj.Alllimit == '' || obj.Alllimit == undefined) {
            $('#txtalllimitsp').removeClass('d-none');
            return false;
        }
        $.post('/Master/SaveRegistartionMaster', obj).done(function(res) {
            alertnotify(res.statuscode, res.mag);
        }).fail(function() {
            alertnotify(-1, 'Server Error');
        });
    }
    var UpdateType = (id) => {
        let is = $('#isopen_'+id).is(":checked");
        $.post('/Master/UpdateAdmissionMasterType', { ID:id,Is: is, Program: $('#ddlprogram option:selected').val(), Branch: $('#ddlbranch option:selected').val(), Year: $('#ddlyear option:selected').val() }).done(function(res) {
            alertnotify(res.statuscode, res.mag);
        }).fail(function() {
            alertnotify(-1, 'Server Error');
        });
    }
    var Bindbranch = () => {
        $.post('/Admission/BindProgramWiseBranch', { ProgramId: $('#ddlProgram option:selected').val() }).done(function(result) {
            for (var j = 0; j < result.length; j++) {
                $('#ddlProgram').append('<option value="' + result[j].branchId + '">' + result[j].branchName + '</option>')
            }
        }).fail(function(xhr) {
            console.log(xhr.responseText)
        });
    }
    var bindAdmissionType = () => {
        $.post('/Master/GetAdmissionType').done(function(result) {
            $('#ddlAdmtype').empty();
            for (var j = 0; j < result.length; j++) {
                $('#ddlAdmtype').append('<option value="' + result[j].branchId + '">' + result[j].branchName + '</option>')
            }
        }).fail(function(xhr) {
            console.log(xhr.responseText)
        });
    }
    var loaddata = () => {
        $.post('/Master/GetAdmissionMaster').done(function(result) {
            $('#tblprogram tbody').html(result);
        }).fail(function(xhr) {
            console.log(xhr.responseText);
        });
    }
</script>