@{
    Layout = "_LayoutAdmin";
}
@model RegistrationViewModel
<style>
        .input-group>.form-control,.input-group>.custom-select,.input-group>.custom-file {
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0
    }

    .input-group>.form-control:focus,.input-group>.custom-select:focus,.input-group>.custom-file:focus {
        z-index: 3
    }

    .input-group>.form-control+.form-control,.input-group>.form-control+.custom-select,.input-group>.form-control+.custom-file,.input-group>.custom-select+.form-control,.input-group>.custom-select+.custom-select,.input-group>.custom-select+.custom-file,.input-group>.custom-file+.form-control,.input-group>.custom-file+.custom-select,.input-group>.custom-file+.custom-file {
        margin-left: -1px
    }

    .input-group>.form-control:not(:last-child),.input-group>.custom-select:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0
    }

    .input-group>.form-control:not(:first-child),.input-group>.custom-select:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
    }

    .input-group>.custom-file {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center
    }

    .input-group>.custom-file:not(:last-child) .custom-file-label,.input-group>.custom-file:not(:last-child) .custom-file-label::after {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0
    }

    .input-group>.custom-file:not(:first-child) .custom-file-label {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
    }

    .input-group-prepend,.input-group-append {
        display: -ms-flexbox;
        display: flex
    }

    .input-group-prepend .btn,.input-group-append .btn {
        position: relative;
        z-index: 2
    }

    .input-group-prepend .btn+.btn,.input-group-prepend .btn+.input-group-text,.input-group-prepend .input-group-text+.input-group-text,.input-group-prepend .input-group-text+.btn,.input-group-append .btn+.btn,.input-group-append .btn+.input-group-text,.input-group-append .input-group-text+.input-group-text,.input-group-append .input-group-text+.btn {
        margin-left: -1px
    }

    .input-group-prepend {
        margin-right: -1px
    }

    .input-group-append {
        margin-top: 10px;
    }

    .input-group-text {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding: .375rem .75rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: #e9ecef;
        border: 1px solid #ced4da;
        border-radius: .25rem
    }

    .input-group-text input[type="radio"],.input-group-text input[type="checkbox"] {
        margin-top: 0
    }

    .input-group>.input-group-prepend>.btn,.input-group>.input-group-prepend>.input-group-text,.input-group>.input-group-append:not(:last-child)>.btn,.input-group>.input-group-append:not(:last-child)>.input-group-text,.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle),.input-group>.input-group-append:last-child>.input-group-text:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0
    }

    .input-group>.input-group-append>.btn,.input-group>.input-group-append>.input-group-text,.input-group>.input-group-prepend:not(:first-child)>.btn,.input-group>.input-group-prepend:not(:first-child)>.input-group-text,.input-group>.input-group-prepend:first-child>.btn:not(:first-child),.input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
    }
        .switch {
            font-size: 1rem;
            position: relative;
        }

            .switch.is-valid {
                border-color: #28a745;
            }

            .switch.is-info {
                border-color: #17a2b8;
            }

            .switch input {
                position: absolute;
                height: 1px;
                width: 1px;
                background: none;
                border: 0;
                clip: rect(0 0 0 0);
                clip-path: inset(50%);
                overflow: hidden;
                padding: 0;
            }

                .switch input + label {
                    position: relative;
                    min-width: calc(calc(2.375rem * .8) * 2);
                    border-radius: calc(2.375rem * .8);
                    height: calc(2.375rem * .8);
                    line-height: calc(2.375rem * .8);
                    display: inline-block;
                    cursor: pointer;
                    outline: none;
                    user-select: none;
                    vertical-align: middle;
                    text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem);
                }

                    .switch input + label::before,
                    .switch input + label::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: calc(calc(2.375rem * .8) * 2);
                        bottom: 0;
                        display: block;
                    }

                    .switch input + label::before {
                        right: 0;
                        background-color: #dee2e6;
                        border-radius: calc(2.375rem * .8);
                        transition: 0.2s all;
                    }

                    .switch input + label::after {
                        top: 2px;
                        left: 2px;
                        width: calc(calc(2.375rem * .8) - calc(2px * 2));
                        height: calc(calc(2.375rem * .8) - calc(2px * 2));
                        border-radius: 50%;
                        background-color: white;
                        transition: 0.2s all;
                    }

                .switch input:checked + label::before {
                    background-color: #6e7882;
                }

                .switch input:checked + label::after {
                    margin-left: calc(2.375rem * .8);
                }

                .switch input:focus + label::before {
                    outline: none;
                    box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
                }

                .switch input:disabled + label {
                    color: #868e96;
                    cursor: not-allowed;
                }

                    .switch input:disabled + label::before {
                        background-color: #e9ecef;
                    }

            .switch.switch-sm {
                font-size: 0.875rem;
            }

                .switch.switch-sm input + label {
                    min-width: calc(calc(1.9375rem * .8) * 2);
                    height: calc(1.9375rem * .8);
                    line-height: calc(1.9375rem * .8);
                    text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem);
                }

                    .switch.switch-sm input + label::before {
                        width: calc(calc(1.9375rem * .8) * 2);
                    }

                    .switch.switch-sm input + label::after {
                        width: calc(calc(1.9375rem * .8) - calc(2px * 2));
                        height: calc(calc(1.9375rem * .8) - calc(2px * 2));
                    }

                .switch.switch-sm input:checked + label::after {
                    margin-left: calc(1.9375rem * .8);
                }

            .switch.switch-lg {
                font-size: 1.25rem;
            }

                .switch.switch-lg input + label {
                    min-width: calc(calc(3rem * .8) * 2);
                    height: calc(3rem * .8);
                    line-height: calc(3rem * .8);
                    text-indent: calc(calc(calc(3rem * .8) * 2) + .5rem);
                }

                    .switch.switch-lg input + label::before {
                        width: calc(calc(3rem * .8) * 2);
                    }

                    .switch.switch-lg input + label::after {
                        width: calc(calc(3rem * .8) - calc(2px * 2));
                        height: calc(calc(3rem * .8) - calc(2px * 2));
                    }

                .switch.switch-lg input:checked + label::after {
                    margin-left: calc(3rem * .8);
                }

            .switch + .switch {
                margin-left: 1rem;
            }
</style>
<div class="">
    <div class="">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bgred">
                        <h4 style="color:black;">Registartion Master</h4>
                    </div>
                    <div class="card-body">
                        @if (Model.data.IsEdit)
                        {
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>Start Date<span style="color:red;">*</span></label>
                                    <input type="date" class="form-control" id="txtRegistrationStart" asp-for="@Model.data.Startdate" placeholder="Start Date" />
                                    <span class="text-danger d-none" id="txtRegistrationStartsp">Please Enter Start Date</span>
                                </div>
                                <div class="col-sm-3">
                                    <label>End Date<span style="color:red;">*</span></label>
                                    <input type="date" class="form-control" id="txtRegistrationEnd" asp-for="@Model.data.Enddate" placeholder="End Date" />
                                    <span class="text-danger d-none" id="txtRegistrationEndsp">Please Enter End Date</span>
                                </div>
                                <div class="col-sm-3">
                                    <label>Day Limit<span style="color:red;">*</span></label>
                                    <input type="number" class="form-control" id="txtdaylimit" asp-for="@Model.data.Daylimit" placeholder="Day Limit" />
                                    <span class="text-danger d-none" id="txtdaylimitsp">Please Enter Day Limit</span>
                                </div>
                                <div class="col-sm-3">
                                    <label>All Limit<span style="color:red;">*</span></label>
                                    <input type="number" class="form-control" id="txtalllimit" asp-for="@Model.data.Alllimit" placeholder="All Limit" />
                                    <span class="text-danger d-none" id="txtalllimitsp">Please Enter Day Limit</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <button class="btn btn-outline-primary" id="btnsubmit" onclick="Savedata()" style="margin-top: 21px;width: 43%; font-size: 11px;">Save</button>
                                    <a href="/Master/RegistartionMaster" class="btn btn-outline-warning" id="btnsubmit" style="margin-top: 21px;width: 43%; font-size: 11px;">Back to list</a>
                                </div>
                            </div>
                        }
                        <div class="table-responsive table-striped" style="margin-top:13px;">
                            <table class="table mb-0" id="tblprogram">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>#</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Day Limit</th>
                                        <th>All Limit</th>
                                        <th>Entry Date</th>
                                        <th>IsOpen</th>
                                        <th>Assign Branch</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>@Model.data.Startdate</td>
                                        <td>@Model.data.Enddate</td>
                                        <td>@Model.data.Daylimit</td>
                                        <td>@Model.data.Alllimit</td>
                                        <td>@Model.data.Entrydate</td>
                                        <td>
                                            <span class="switch switch-sm">
                                                <input type="checkbox" class="switch" onchange="UpdateType()" id="isopen" @Html.Raw(Model.data.IsOpen ? "checked='checked'" : "")>
                                                <label for="isopen"></label>
                                            </span>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <select class="form-control" id="ddlprogram" onchange="Bindbranch()" asp-for="@Model.data.Program">
                                                    <option value="0">:: Select Program ::</option>
                                                    @foreach (var item in Model.ProgramMasters)
                                                    {
                                                        <option value="@item.Id">@item.Program</option>
                                                    }
                                                </select>
                                                <select class="form-control" id="ddlbranch" asp-for="@Model.data.Branch">
                                                    <option value="0">:: Select Branch ::</option>
                                                </select>
                                                <select class="form-control" id="ddlyear" asp-for="@Model.data.Year" onchange="UpdateType()">
                                                    <option value="0">:: Select Year ::</option>
                                                    <option value="1">First Year</option>
                                                    <option value="2">Seccond Year</option>
                                                    <option value="3">Third Year</option>
                                                    <option value="4">Final Year</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="/Master/RegistartionMaster?Id=@Model.data.ID" class="tabledit-edit-button btn btn-sm btn-success btn_edit" style="float: none; margin: 4px;"><span class="ti-pencil"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        Bindbranch();
    });
    var Savedata = () => {
        let obj = {
            Startdate: $('#txtRegistrationStart').val(),
            Enddate: $('#txtRegistrationEnd').val(),
            Daylimit: $('#txtdaylimit').val(),
            Alllimit: $('#txtalllimit').val(),
        }
        if (obj.Startdate == '' || obj.Startdate == undefined) {
            $('#txtRegistrationStartsp').removeClass('d-none');
            return false;
        }
        if (obj.Enddate == '' || obj.Enddate == undefined) {
            $('#txtRegistrationEndsp').removeClass('d-none');
            return false;
        }
        if (obj.Daylimit == '' || obj.Daylimit == undefined) {
            $('#txtdaylimitsp').removeClass('d-none');
            return false;
        }
        if (obj.Alllimit == '' || obj.Alllimit == undefined) {
            $('#txtalllimitsp').removeClass('d-none');
            return false;
        }
        $.post('/Master/SaveRegistartionMaster', obj).done(function(res) {
            alertnotify(res.statuscode, res.mag);
        }).fail(function() {
            alertnotify(-1, 'Server Error');
        });
    }
    var UpdateType = () => {
        let is = $('#isopen').is(":checked");
        $.post('/Master/UpdateRegistartionMasterType', { Is: is, Program: $('#ddlprogram').val(), Branch: $('#ddlbranch').val(), Year: $('#ddlyear').val() }).done(function(res) {
            alertnotify(res.statuscode, res.mag);
        }).fail(function() {
            alertnotify(-1, 'Server Error');
        });
    }
    var Bindbranch = () => {
        $.post('/Admission/BindProgramWiseBranch', { ProgramId: $('#ddlprogram option:selected').val() }).done(function(result) {
            $('#ddlbranch').empty();
            for (var i = 0; i < result.length; i++) {
                $('#ddlbranch').append('<option value="' + result[i].branchId + '">' + result[i].branchName + '</option>')
            }
        }).fail(function(xhr) {
            console.log(xhr.responseText)
        });
    }
</script>